#------------------------------------------------------------------------------
# Binning definitions, linked back to from stage definitions
#------------------------------------------------------------------------------

orca_reco.order = reco_energy, reco_coszen, pid
orca_reco.reco_energy = {'num_bins':15, 'is_log':True, 'bin_edges':[2.,2.95752,4.37345,5.3183,6.46727,7.86447,9.56352,11.6296,14.1421,17.1974,20.9128,25.4308,30.9249,55.6102,100.,1000.] * units.GeV, 'tex': r'E_{\rm reco}'}
orca_reco.reco_coszen = {'num_bins':10, 'is_lin':True, 'domain':[-1,0], 'tex':r'\cos{\theta}_{\rm reco}'}
orca_reco.pid = {'bin_edges': [0.5, 1.5, 2.5, 3.5], 'tex':r'{\rm PID}'}
orca_reco.mask = [(14, 0, 0), (14, 0, 2), (14, 1, 0), (14, 1, 2), (14, 2, 0), (14, 2, 2), (14, 3, 0), (14, 3, 2), (14, 4, 0), (14, 4, 2), (14, 5, 0), (14, 5, 2), (14, 6, 0), (14, 6, 2), (14, 7, 0), (14, 7, 2), (14, 8, 0), (14, 8, 2), (14, 9, 0), (14, 9, 2)]

orca_true.order = true_energy, true_coszen
orca_true.true_energy = {'num_bins':40, 'is_log':True, 'domain':[1,10000] * units.GeV, 'tex': r'E_{\rm true}'}
orca_true.true_coszen = {'num_bins':80, 'is_lin':True, 'domain':[-1,1], 'tex':r'\cos\,\theta_{Z,{\rm true}}'}