#include settings/binning/orca.cfg as binning

#------------------------------------------------------------------------------
# Settings directly affecting or handled by the pipeline
#------------------------------------------------------------------------------

[pipeline]

# Define order of stages to be excecuted one after another, and specify the
# service to use for each of them as stage1:serviceA, stage2:serviceB, ...
order = data.h5_loader

name = data
output_binning = orca_reco
output_key = weights

#------------------------------------------------------------------------------
# 'data' stage parameters
#------------------------------------------------------------------------------

[data.h5_loader]

calc_mode = orca_reco
apply_mode = orca_reco
events_file = events/ORCA6_433kton_v_0_5.h5
type = data