# This workflow will install Python dependencies, produce the sphinx documentation, and publish it to GitHub pages

name: documentation

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        pip install .[develop]
    - name: Build the docs
      run: |
        sphinx-apidoc -f -o docs/source pisa
        cd docs && make html
    - name: Deploy to gh pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build/html
